h2{ 
    color: rgb(0, 0, 0);
}
h3{
    color: black;
    background-color: cadetblue;
    padding-left: 10px;
}
input{
    width: 50%;
}
table{
    width: 100%;
    background-color: rgb(2, 49, 47);
    
}

container-body{
    height: 100%;
    width: 100%;
}
.bgstyle{
    height: 30em;
    margin:0px;
}
.outer-div {
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}