.bgcolor{
    background-image: url(../assets/images/1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
.bg-dark-blue{
    background-color: #404040;
}
header{
    float: center;
}
.icons{
    margin-inline: auto;
}
span{
    color: white;
}
.tab {
    display: inline-block;
    margin-left: 30px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .container{
    display: inline-block;
    vertical-align: middle;
  }